.step-wrap{
    padding:100px;
}
/* steps-content */
.steps-content{
    width:100%;
    margin-bottom:50px;
    margin-top:50px;
}
.steps-content .title{
    display: inline-block;
    width:120px;

}
.steps-content .step1 .ant-btn-group  .ant-btn{
    margin-right:50px;
}
.steps-content .step2 .ant-btn-group  .ant-btn{
    margin-right:50px;
}
.step1 .select,
.step2 .select,
.step4 .select{
    margin-top:30px;
    margin-bottom:30px;
}
.step2 .ant-btn-group{
    margin:20px 0px;
}
.step4 .time{
    margin:20px 0;
}
/* step-action */
.step-wrap .steps-action {
   display: flex;
   justify-content: center;
   align-items: center;

}

.ant-form label{
    margin-right:10px;
}
.ant-form .ant-radio-button-wrapper:first-child{
    border-radius: 0 0 0 0;
}
.ant-form .ant-radio-button-wrapper:last-child{
    border-radius: 0px 0px 0px 0px;
}

/* #showTag{
    display: flex
} */
/* .ant-form-item-control #showTag2{
    display: inline;
} */
/* .ant-col-24{
    display: flex;
    display: inline-block;
    width:100%;
} */
ul,li{
    list-style: none;
}
.step3 ul li{
    width:400px;
    height: 100px;
    /* border:1px solid red; */
    margin: 0 auto;
    margin-top: -24px;
    border-bottom:1px solid red;
    display: flex;
    /* flex-direction: column; */
}
.step3 ul .content{
    width:250px;
    height: 100px;
    border:1px solid blue;
    text-align: center;
    line-height: 100px
    /* margin: 0 auto;
    margin-top: -24px; */
}
.step3 ul .title{
    display: inline-block;
    width:120px;
    height: 40px;
    border:1px solid #ccc;
    text-align: center;
    line-height: 40px;
}
.step3 ul .btn-select{
    display: inline-block;
    width: 50px;
    height:30px;
    border:1px solid red;
}

.step3 ul .btn-delect{
    display: inline-block;
    width: 50px;
    height:30px;
    border:1px solid red;
}




.calculation{
    display: flex;

}


