




.check2 .checkbox .ant-checkbox .ant-checkbox-inner{
    width:109px !important;
    height:47px !important;
    border: none !important;
    
}
.checkbox .ant-checkbox-inner::after{
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 40px;
    top: 6px;
    display: table;
    width: 9px;
    height: 18px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    opacity: 0;
}

 .ant-table-content{
    width:550px;
}

td,th{
    width:100px !important;
    padding:0 !important;
    height:50px !important; 
    box-sizing: border-box !important;
    
}

.colNumberOne{
    display: flex;

}
.colNumberOne span{
    width:20px;
    
}
/* 修改每一行鼠标的hover状态 */
.ant-table-tbody > tr:hover > td{
    background-color:#fff ! important;
}